Zaloguj się!
<form asp-action="Login" method="POST">
    <input type="text" name="username" placeholder="username" />
    <input type="password" name="password" placeholder="password" />
    <input type="submit" value="Zaloguj" />
</form>