Zarejestruj się:<br/>
<form asp-action="Register" method="POST">
    <input type="text" name="UserName" placeholder="username"/>
    <input type="password" name="Password" placeholder="password"/>
    <input type="submit" value="Zarejestruj"/>
</form>