Zaloguj się:
<br/>
<form action="" method="POST">
        login: <input name="username" type="text" /><br/>
        hasło: <input name="password" type="password" /><br/>
        <input type="submit" value="Zaloguj" />
</form>