<div>
    <form action="/" method="POST">
        login: <input name="login" type="text" /><br/>
        hasło: <input name="password" type="text" /><br/>
        <input type="submit" value="Zaloguj" />
    </form>
</div>