<div>
    You're not logged in!<br/>
    Log in<br/>
    <form asp-controller="Account" asp-action="Login" method="GET">
        <input type="submit" value="Log in"/>
    </form>
    <br>
    Register</br>
    <form asp-controller="Account" asp-action="Register" method="GET">
        <input type="submit" value="Register"/>
    </form>
    <br>
</div>